*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer
{
display: flex;
background: rgba(51,0,255,0.753)
;margin-top: 10px; 
list-style: none;   
justify-content: center;
gap: 18px;
flex-wrap: wrap;
padding: 15px 0;}

.logo img {
width: 150px;
height: 150px;
border-radius: 50%;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(51, 0, 255, 0.753);
    padding: 15px;
    margin: 15px;
    justify-content: space-between;

}
.navegar nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-top: 50px;
}
.navegar nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-weight: 500px;
}
.login,.register {
    color: black;
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
}
.formularioheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer {
display: flex;
justify-content: center; 
align-items: center;    
background: rgba(51,0,255,0.753);
margin-top: 10px;
padding: 15px 0;
gap: 40px;              
position: relative;
}

.logo img {
width: 150px;
height: 150px;
border-radius: 50%;
}


.Nombres {
list-style: none;       
margin: 0;
padding: 0;
}

.Nombres li {
margin: 5px 0;
color: white;   
}

.navmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.navmain ul{
    list-style: none;
    padding: 10px;
}

.navmain li a{
    text-decoration: none;
    color: white;
}

.navmain li{
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: 250px;
    border: solid 1px darkblue;
    background: rgba(51,0,255,0.753)

}
.main{
    display: flex;
    flex-direction: row;
}
.Registro {
  background: rgba(51,0,255,0.753);   
  color: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;   
  height: 450px;
  margin-left: 30%;
  margin-top: 8%;
  
}
.Registro label {
  display: block;
  margin-bottom: 6px;
  text-align: left;
  justify-content: center;
  height: 20px;
}

.Email,
.Password,
.Repassword{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
  
.terminos {
  text-align: left;
  margin-bottom: 15px;
}


.Registro button {
  background: white;
  color: rgba(51,0,255,0.753);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.sign {
  margin-top: 20px;
 
}
.sign a{
    color: #fff;
  text-decoration: underline;
  font-size: 14px;
}