*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-image: url(../img/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
display: flex;
background: rgba(51,0,255,0.653)
;margin-top: 10px; 
list-style: none;   
justify-content: center;
gap: 18px;
flex-wrap: wrap;
padding: 15px 0;
}
.logo img {
width: 150px;
height: 150px;
border-radius: 50%;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(51, 0, 255, 0.653);
    padding: 15px;
    margin: 15px;
    justify-content: space-between;
}
.navegar nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-top: 50px;
}
.navegar nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-weight: 500px;
}
.login,.register {
    color: black;
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
}
.formularioheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer {
display: flex;
justify-content: center; 
align-items: center;    
background: rgba(51,0,255,0.653);
margin-top: 10px;
padding: 15px 0;
gap: 40px;              
position: relative;
}
.logo img {
width: 150px;
height: 150px;
border-radius: 50%;
}
.Nombres {
list-style: none;       
margin: 0;
padding: 0;
}
.Nombres li {
margin: 5px 0;
color: white;   
}
.navmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}
.navmain ul{
    list-style: none;
    padding: 10px;
}
.navmain li a{
    text-decoration: none;
    color: white;
}
.navmain li{
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    font-weight: 250px;
    border: solid 1px darkblue;
    background: rgba(51,0,255,0.653)
}
.main{
    display: flex;
    flex-direction: row;
}
.Registro {
  background: rgba(51,0,255,0.653);   
  color: white;
  padding: 30px;
  border-radius: 6%;
  width: 350px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;   
  height: 450px;
  margin-left: 30%;
  margin-top: 8%;
}
.Registro label {
  display: block;
  margin-bottom: 6px;
  text-align: left;
  justify-content: center;
  height: 20px;
}
.Email,
.Password,
.Repassword{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
.terminos {
  text-align: left;
  margin-bottom: 15px;
}
.Registro button {
  background: white;
  color: rgba(51,0,255,0.653);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}
.sign {
  margin-top: 20px;
}
.sign a{
    color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.login2{
    background: rgba(51,0,255,0.653);   
  color: white;
  padding:30px;
  border-radius: 6%;
  width: 350px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;   
  height: 300px;
  margin-left: 30%;
  margin-top: 8%;
  
  
}

.email2{
    width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  list-style: none;
}

.login2 label{
    display: block;
  margin-bottom: 6px;
  text-align: left;
  justify-content: center;
  height: 20px;
}

.login2 button{
    background: white;
  color: rgba(51,0,255,0.653);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
}

.sign2{
    margin-top: 20px;
}

.sign2 a{
    color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.password{
    margin-top: 10px;
}
.nobusqueda{
  display: none;
}
.categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulocat{
  text-align: center;
}
.Productosdeportivos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;

}
.Productosdeportivos1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}
.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultadopelota{
  text-align: center;
}
.productosdeportivos, .productoscelulares {
display: flex;
flex-direction: column;
background: whitesmoke;
border-radius: 12px;
padding: 25px;
margin: 10px;

}
.producto img{
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.producto a{
  text-decoration: none;
  color: black;
}

.diezdeportes, .diezcelulares{
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
  margin: 25px;
}
.prodmasvend1 img{
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prodaleat1 img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.prodaleat h2 {
  text-align: center;
}
.prodmasvend h2{
  text-align: center;
}
.prodmasvend1, .prodaleat1{
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border-radius: 12px;
  padding: 25px;
  margin: 10px;
}
.prodindex{
  display: flex;
  flex-direction: column;
}

.productpelota{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 25px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 700px;
  margin-left: 300px;

}
.productpelota img{
  height: 400px;
  width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5%;
}
.precio{
  margin-top: 10px;
  margin-bottom: 10px;
}


.productpelota h1{
  margin: 15px;
}

.productpelota p{
  margin: 15px;
}

.productpelota ul{
 list-style: none; 
}

.productpelota form{
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: left;
}

.prodmasvend1 a{
  background-color: rgba(51,0,255,0.653);
  color: black;
  padding: 5px;
  width: fit-content;
  border-radius: 10%;
  text-decoration: none;
}

.verdetalle{
  background-color: rgba(51,0,255,0.653);
  color: black;
  padding: 5px;
  width: fit-content;
  border-radius: 10%;
  text-decoration: none;
}

.prodaleat1 a{
  background-color: rgba(51,0,255,0.653);
  color: black;
  padding: 5px;
  width: fit-content;
  border-radius: 10%;
  text-decoration: none;
}
.logout, .saludo{
  display: none;
}

@media (max-width: 420px){
  .main{
    display: flex;
    flex-wrap: wrap;
  }
  .navmain{
    width: 100%;
  }
  .navmain ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;
  }
  .navmain li{
    margin-right: 5px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .index{
    width: 100%;
  }
  .prodindex{
    width: 100%;
  }
  .cincoprimaleat, .cincosegaleat, .cincoprimven, .cincosegven {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
  
  }
  .prodaleat1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prodmasvend1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .footer{
    align-items: center;
    text-align: center;
  }
  .index2{
    width: 100%;
  }
  .navegar nav ul{
    flex-direction: column;
    margin: 0;
  }

  .login2, .Registro{
    margin-left: 35px;
    margin-bottom: 35px;
  }
  .productpelota{
    margin-left: 0;
  }
  .indexprod{
    width: 100%;
  }
  .footprod{
    width: 100%;
  }
  .footcat{
    width: 100%;
  }
  .Productosdeportivos{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .Productosdeportivos1{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .headercat{
     width: 100%;
      margin: 0;
  }
  .footsearch{
    width: 100%;
    margin: 0;
  }
  .headersearch{
     width: 100%;
     margin: 0;
  }
.resultadopelota{
    width: 100%;
}
}
