*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer
{
display: flex;
background: rgba(51,0,255,0.753)
;margin-top: 10px; 
list-style: none;   
justify-content: center;
gap: 18px;
flex-wrap: wrap;
padding: 15px 0;}

.logo img {
width: 150px;
height: 150px;
border-radius: 50%;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(51, 0, 255, 0.753);
    padding: 15px;
    margin: 15px;
    justify-content: space-between;

}
.navegar nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-top: 50px;
}
.navegar nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.login,.register {
    color: black;
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
}
.formularioheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
